// Russel primary - vermelho
$russel-color-primary-50: #f25a60;
$russel-color-primary-100: #e1383e;
$russel-color-primary-150: #df2a32;
$russel-color-primary-200: #cd1f26;
$russel-color-primary-400: #aa011c;
$russel-color-primary-600: #83071b;

// Russel secondary - cinza
$russel-color-secondary-50: #a6a6a6;
$russel-color-secondary-100: #8a8a8a;
$russel-color-secondary-200: #666666;
$russel-color-secondary-300: #5e5e5e;
$russel-color-secondary-400: #363636;
$russel-color-secondary-600: #242424;

// Russel secondary - branca
$russel-color-neutral-50: #ffffff;
$russel-color-neutral-100: #f2f2f2;
$russel-color-neutral-150: #e5e5e5;
$russel-color-neutral-200: #cccccc;
$russel-color-neutral-300: #b2b2b2;
$russel-color-neutral-400: #999999;
$russel-color-neutral-500: #808080;
$russel-color-neutral-600: #4d4d4d;
$russel-color-neutral-700: #1a1a1a;

// Russel success - verde
$russel-color-succes-50: #4fa562;
$russel-color-succes-100: #35994b;
$russel-color-succes-150: #1c8c35;
$russel-color-succes-200: #037f1e;
$russel-color-succes-400: #026618;
$russel-color-succes-600: #024c12;

// Russel caution - amarelo
$russel-color-alert-50: #f4d27b;
$russel-color-alert-100: #f4d27b;
$russel-color-alert-200: #ffc01e;
$russel-color-alert-400: #eba900;
$russel-color-alert-600: #c79105;

// Russel error - vermelho/danger
$russel-color-danger-50: #fe5353;
$russel-color-danger-100: #fe3a3a;
$russel-color-danger-150: #fe2222;
$russel-color-danger-200: #fe0909;
$russel-color-danger-400: #d60000;
$russel-color-danger-600: #950404;

// Russel shadows
$sm-shadow-russel: 0px 2px 4px rgba(0, 0, 0, 0.075); //small
$regular-shadow-russel: 0px 8px 16px rgba(0, 0, 0, 0.15); //regular
